<div ng-show="vm.video.status === 'found'" class="panel panel-default">
    <div class="panel-heading">
        <h2>{{vm.video.title}}</h2>
    </div>
    <div class="panel-body">
        <div class="embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item" id="twitch-player">

            </div>
        </div>
    </div>
</div>
<div ng-show="vm.video.status === 'not found'" class="alert alert-info" role="alert">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Not found!
</div>
