<div class="panel panel-info">
    <div class="panel-heading">
        <h2>About</h2>
    </div>
    <div class="panel-body">
        <p>TwitchTools is free web application based on the Twitch API v3. 
           TwitchTools is designed as a third party website and it is not a part of Twitch.</p>
        <p>TwitchTools provides tools for downloading past broadcasts and highlights from Twitch. 
        Our tools does not directly download the video. 
        To download m3u8 playlists you need to use third party software. 
        A good tool for downloading m3u8 playlists is FFmpeg.</p>
        <p>Using TwitchTools you can watch live streams on your favorite media player (Media Player Classic, VLC).</p>
    </div>
</div>